@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

/*components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";

/*screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

@media screen and (max-width: 400px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  .status-bar {
    opacity: 0%;
  }
  .alt-header {
    width: 100vw;
  }
}
@media screen and (min-width: 401px) {
  html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  body {
    width: 400px;
    height: 100vh;
    border: 4px solid var(--yellow);
  }
  .find-body {
    height: 130vh;
  }
  #splash-screen {
    width: 400px;
  }
  .reply,
  .nav,
  .status-bar {
    width: 400px;
  }

  .alt-header {
    width: 400px;
  }
}
